body{
    margin: 0;
    background-color: black;
}
.overLapping{
    position: absolute;
    display: inline-block;
    background-color: black;
    width: 1024px;
    height: 576px;
    opacity: 0;
}
.activation{
    animation: active 2s both;
}
@keyframes active {
    5% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    45%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1024px;
    height: 160px;
    background-color: rgb(57, 49, 49);
    bottom: 0;
}
#battlebar{
    display: flex;
    padding: 5px;
    width: 980px;
    height: 115px;
    background-color: rgb(32, 49, 119);
    border: 10px solid rgb(239, 160, 81);
    bottom: 0;
    border-radius: 15px;
    font-family: 'Press Start 2P', cursive;

}
#action{
    margin: -1px;
    padding: 10px;
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(69, 151, 151);
    border: 5px solid rgb(221, 239, 255);
    border-radius: 5px;
}
#action button{
    font-family: 'Press Start 2P', cursive;
    position: relative;
    padding: 3px 20px 3px 40px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: transparent;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
}
#action button::before{
    content: '\27A4';
    position: absolute;
    top: -4px;
    left: 5px;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    opacity: 0;
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.6));
}
#action button:active{
    transform: translate(0px,2px);
}
#action button:hover::before{
    opacity: 1;
}

#attackType{
    box-sizing:border-box;
    margin-top: -1px;
    margin-left: 15px;
    padding-left: 20px;
    background-color: rgb(69, 151, 151);
    border: 7px solid rgb(221, 239, 255);
    border-radius: 5px;
    flex-grow: 1;
}

.pokemonName{
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: white;
    padding: 8px 15px 5px;
    width: 280px;
    border : 8px ridge rgb(5, 125, 79);
    border-radius: 20px 5px 20px 5px;
    font-family: 'Press Start 2P', cursive;
    z-index: 5;
}
.nameBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.pokemonName .name{
    font-size: 20px;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.2);
}
.Lv{
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
}
.hpContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.hpName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
    padding: 3px 10px 3px 10px;
    color: rgb(255, 242, 0);
    background: linear-gradient(0deg, rgba(7,71,25,1) 0%, rgba(12,141,48,1) 100%);
}
.hpBar{
    position: relative;
    width: 180px;
    height: 9px;
    border-radius: 7px;
    margin-left: 10px;
    
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.4);
}
.hp{
    height: 9px;
    /* 100% :rgb(84, 255, 150) 50%~20% :rgb(255, 239, 18) 20%:rgb(253, 68, 12)*/
    background-color: rgb(84, 255, 150);
    border-radius: 7px 0px 0px 7px;
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.4);
}
.hpBar::after{
    content: '';
    position: absolute;
    top: -2.5px;
    left: -3.5px;
    width: 169px;
    height: 9px;
    border: 3px rgb(245, 245, 245) solid;
    border-radius: 7px;
    

}
.pokemonName.self{
    top: 314px;
    left: inherit;
    right: 150px;
    border-radius: 20px;
    padding: 15px 20px;
    border : 8px solid rgb(0, 124, 56);
    border-radius: 25px 5px 25px 10px;
}
.symbol{
    position: absolute;
    left: 375px;
    top: 54px;
    font-size: 120px;
    color: rgb(0, 32, 20);
    font-family: 'Press Start 2P', cursive;
    z-index: 1;
}
.symbolself{
    position: absolute;
    right: 435px;
    top: 335px;
    font-size: 120px;
    color: rgb(0, 124, 56);
    font-family: 'Press Start 2P', cursive;
}